---
description: >-
  Verification is a process that links your Roblox account to Discord account.
  We use it to make sure that users can't claim to be someone who they are not.
---

# Verification

## Information

To be granted access to use Soldier's ranking commands, the user executing the command needs to be verified with Soldier. Follow the steps below to learn how to become verified.

## Getting Verified

Before we begin, you need to initiate the verification process. To do this, type the command below.

```text
s!verify
```

Once you have typed the command, you will be prompted to enter your Roblox username.  
After this, Soldier will search for your username in any known API's.

If it finds your name, then congrats - you've been verified. However, if it does not, you'll need to continue following the steps below.

There are two options you may choose from to verify your account.

* Playing a game.
* Typing a code as your blurb.

{% tabs %}
{% tab title="Game" %}
### Game Verification

If you choose the game option, you will be promted to join [this](https://www.roblox.com/games/5697576656/Soldier-Game-Verification) game.  
After you have completed the verification process in-game, you may react to the message posted by Soldier.

If it is successful, then congrats - you've been verified.  
However, if it failed, you may want to try again.
{% endtab %}

{% tab title="Code" %}
### Code Verification

If you choose the code option, you will be promted to set a string of words as your Roblox blurb.  
After you have set it as your bio, you may react to the message posted by Soldier.

{% hint style="info" %}
If you do not know how to change your blurb, [this](https://en.help.roblox.com/hc/en-us/articles/203313660-All-About-Profiles-Blurbs-and-Profile-Customization) article may help.
{% endhint %}

If it is successful, then congrats - you've been verified.  
However, if it failed, you may want to try again.
{% endtab %}
{% endtabs %}

### How to Change the Roblox Account binded with Soldier.

To change the Roblox account binded with Soldier, type the command below and follow the steps.

```text
s!reverify
```

